body, html {
 background-color:#E9F0F0;
}
.pop-up {
 z-index:111;
 background-color:#fff;
 box-shadow:0 12px 15px rgba(0, 0, 0, 0.4);
 padding:20px;
 position:absolute;
}

/* Setup */
input:invalid {
 border:2px solid red !important;
}
input:invalid ~ input[type=button] {
 pointer-events:none;
 opacity:0.5;
}
.col-sm-offset-1 {
 background-color:#fff;
 box-shadow:0 12px 15px rgba(0, 0, 0, 0.4);
 padding:20px;
}

/* device */
.block {
 background-color:#fff;
 box-shadow:0 12px 15px rgba(0, 0, 0, 0.4);
 padding:20px;
 margin:20px 0;
}
@media (max-width:480px) {
 .block {
  margin:20px -15px;
 }
 #content .block {
  margin:30px -30px;
 }
}
@media (min-width:1200px) {
 .block {
  margin:20px 15px;
 }
}
.history {
 background-color:#fff;
 box-shadow:0 12px 15px rgba(0, 0, 0, 0.4);
 padding:10px;
 margin:10px 15px 15px 5px;
 display:block;
}
.header {
 background-color:#fff;
 box-shadow:0 22px 22px -22px gray;
 margin:0 -15px 23px;
 padding:1px 50px 15px;
 border-radius:10px 10px 0 0;
}
.device {
 background-color:#F5F5F5;
 box-shadow:0 5px 25px rgba(0, 0, 0, 0.4);
 border-radius:10px;
 margin-top:5%;
}
h5 {
 background-color:#4db6ac;
 color:#fff;
 margin-top:-40px;
 padding:10px 0;
 width:50%;
 text-align:center;
 text-transform:uppercase;
}
h5 a, h5 a:hover {
 color:#fff;
}
.add span {
 background-color:#c0c7ca;
 border-radius:100px;
 box-shadow:0 5px 25px rgba(0, 0, 0, 0.4);
 padding:0 20px;
}
.add {
 font-size:40px;
}
#date {
 text-transform:capitalize;
}
#content h1,#content h2,#content h3 {
 text-align:center;
}
#content ul li {
 text-align:left;
}
#title {
 margin:50px;
}
#language {
 margin-top:-45px;
 float:right;
}

/* loader */
.loader, .loader-bg:after {
 border:15px solid #fff;
 border-top:15px solid #FF851B;
 border-radius:50%;
 width:70px;
 height:70px;
 animation:spin 1s linear infinite;
 display:block;
 margin:0 auto;
}
.loader-bg:after {
 content: '';
 position:fixed;
 left:50%;
 margin-left:-35px;
 top:150px;
 z-index:-999;
}
@keyframes spin {
 0% { transform:rotate(0deg); }
 100% { transform:rotate(360deg); }
}

ul#history {
 text-indent: .5em;
 border-left: .25em solid #c0c7ca;
 margin-left: 5px;
}
#history li {
 margin-left:-31px;
}
.alert ul{
 margin-left: -20px;
}
.dropdown-menu {
 display: block;
}
.NaN,.nan {
 display: none;
}
.ct-label{
 font-size:10px;
}
#timer-list,.timer-list {
 -webkit-columns:2;
 -moz-columns:2;
 columns:2;
}

#url-content {
 height:90%;
 left:-15px;
 position:fixed;
 top:0%;
 width:26%;
 overflow-y:auto;
 word-wrap:break-word;
 z-index:1;
}

#edit-content {
 height:100%;
 right:0;
 position:fixed;
 top:0%;
 width:25%;
}

#edit-json {
 width:100%;
 height:90%;
}

.index .col-md-6 {
 min-height: 390px;
}

.opt-img, .popup-img, .refresh-img, .help-img, .warning-img, .set-img, .download-img {
 display:inline-block;
 width:16px;
 height:16px;
 background-size:16px;
 background-position:center center;
 background-repeat:no-repeat;
 vertical-align:middle;
 margin-right:3px;
}

.popup-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAM0lEQVQ4jWNgQAN+fgH/ScHo+oeiAUSbjMOi4WQAhsSAG0ByNFLNAIJOJlqCVAMGLPMAAM5NI5iNV9vsAAAAAElFTkSuQmCC);}
.opt-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaklEQVQ4jWNgGErgPwMDQwg+BWtw4AIkA44jiWOAFThwHpIBR5DEqe8FGIiAKiYZwPx2AsmAYgbcYYMBYH47hmRAAQPusKG+F7CBNYRsQ1eM7sc1DAwMj7HIEZUOYAY8xCJHkqvISjT0AwCiojUjvxm5+AAAAABJRU5ErkJggg==);}
.refresh-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAtElEQVQ4jaWSUQrCMAyGv1eZY8/K5o4jDOrOIHgJ33olYUdQ8Aa7gNdw+pAMOnUpnT8UWtL/S0gCtopIPGq+/2t+AS1QpwJOag5PB1QpEK/GDHBADzyAMmbKP96jCoVc5sw7zbg3EhyAAdj+CrYKWBmAtf5pLEC2FFBr0BkABzyBzdyHDmlUuIE+uOfA2UhAhYyqRxo2luwNz5dKZFQD00U6pkBARtWo+arVLNKN6XIlyzS/AZEiKCyi36BoAAAAAElFTkSuQmCC);}
.help-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAWklEQVQ4je3RsQmAQBAEwOlFrMFGLMhKDD4SsT1jjYRP3vN9Qxc2He5YPkqPhO1hE7ocSDgqO+fA9gJYSkCUEIj+/y8oAKt4ttsZR+wtQE2mVuBCmgAYWgFwAo7ccHNmDIiwAAAAAElFTkSuQmCC);}
.warning-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA+0lEQVQ4je3RMUoDURSF4S8qiDZiI9gLrsPGJdjYmMbGDQjauAWbNCJo4xos7Ay4BEFRQRBiIyLCaN7j2UxgHGaGTNKJF07x3uX8nMPlf8qTmA2cBU4TM1MDI3uJlGt3Ktgnq5H3ETDy9sHKxMDARSFdSqTA+USwIZsFyHWgP3oP2WgFe2Yhcl8AdgPdQvXbO+bbpDsqVd3JlQrQw7FgGeuRrzGAWcZaIyzRCVxVHOJX5cL/ZaJTCwxsl025sR+4qdlt1aVbjgyqTJFB5LVm95JYqkrXqzLk2o8c1O0Dx+V0i5HYAGxU5DsxVz7GSeQx8tRSD4Fe47X/9vwAgKkTxeU5B+oAAAAASUVORK5CYII=);}
.set-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAARElEQVQ4jd3QwQnAIBQE0VdSIjH2X1iCFyvwK4oLe5xlGXbPixyB/9bUM/A0+MPV++KOwKx2kA1wkCIwFAEHxREO5qcC4gcQtPOUOGgAAAAASUVORK5CYII=);}
.download-img {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgUlEQVQ4jc3RsQkCQRAF0BdpZjliIfYgGGgjdmAgV8gZqo2IXeyaKCzHrHecHDrwoz88dhn+aRok5A+5YFEDEg5YV/JGrjUkvxZrU77k9i2Qhyz0ZXogocVZfJ1eYFN02zHArOjmY4Bl0a2GAN1/3rHDHo9OlyLgFCBREo4R8Jt5AvM7bIF02g/DAAAAAElFTkSuQmCC);}

.wifi-0-60 {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAn0lEQVQ4jc3QTQpBYRgF4McUmxBhLEtQlJ0YGCkptiMpc2ITyhoY+Rka3Bujr9CNe5k49Q6f09vh31LHGGvscUWEAzaYoJYEm1jhlvKWaATcR5wBh4vRgyouXxScUA5fdDN+EaP9usM4Q8EwacgcFinwLAmHFLF7g7fIvyuACs4J+IjSJxzS8TxqhFZaHDJ6KBhkxSFzTL/FUJBitJ9yB0PAZo1JMnGDAAAAAElFTkSuQmCC)}
.wifi-60-70 {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyElEQVQ4jc3QPU4CURTF8Z+tHxALbbWAioQSNmAkjonRhMKlUNBgY+MapCf0JFrIRoxrGKhVCt5LJmScGaDxJCd5ybv/e08O/03HaKCLK9wgCe8umjjKA+vo4LaiO4EBl+FKVTg6wYUQqZf5eMAIE3xgjimecJ+Zu8ZhTHGOO4yR4vcPp3gNs2ebPQwLwE0P8oo8CJHL4Lc8OOoUXwXwJ2pFC6CNZQ68QKsMjnrETwb+Rr8qHPWSWfC8LRz1jtmuMOvCTvZZUKoVlb9FjouX7uMAAAAASUVORK5CYII=)}
.wifi-70-80 {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvklEQVQ4jc3QPUoDYRjE8V+t8aOJrYGsRcB69wJicLNNLLyExzCk8RKSkDOkyFEC3kAhWPtR+C4sL+u6GxsHBp7mP88w/Df1kCDDFW6QhzvDBQ7rwBOkmLR0GhgwCF/awqVznAuVxnsEXOOgbHEWtShwjwfMwl1E3/vxDgluscQrPiO/YIEphnVDwqoGjP30EwyneG6AtzhqCoBLvNXAO4x+g0vd4aMCv/vep5MeKwHzrnCpDdb7wnCsxWh/0hf7eTrEN0FYwgAAAABJRU5ErkJggg==)}
.wifi-80-90 {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAt0lEQVQ4jc3QMUoDQRiG4UdMFZWtTKuQtbKQENhcIChZ6zRJIYg30cYm90nhJcxRTJ2kmYEhbMzupskHHwzDvO/8/JxbrpFjhDEmKMN5hAdcVYEZCrzWbBEYcB9+qQvHlrgTRnppIXhGN07RazhFidv9PeQNBP2qRcIwefSBL3ziPbkfHIKhgzessN3rL+a4/E8AT1hXCP7weAyOmWGTwBtM68Ixi0Tw3RSGC/xg2QaOyXBziuBodokKLg6opnwBAAAAAElFTkSuQmCC)}
.wifi-90-100 {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAkklEQVQ4jc3QMQrCQBhE4Q9ipYKNsVU0HkCFpNJKIq73v4+FWTASzUYbB37Y5s0Oj3/LFAUqnHFFaN4Vtph0gTOUuCVe2TBg1fySCscLWGomXb4oqDGOKxYDVwTkrx6KAQWbLpFwSIB372AY4fQBPiL7VMBDat0Bt6T1JdeWGjBPhWOepa6HwjF7PdL6kkmQ9lPu7WseJohUYa0AAAAASUVORK5CYII=)}
.wifi-key {background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4je3QvwqBYRgF8F8mVkZGuRq2b1AuQhnYldyMzaCU2ahcA8kNUL6B5VVvL58/M6fO8jznnOfp8EeMHrbIsccUlU/NA1yfcIXSO3MN52C4YI5DFDJBt4AN6ETiYQhtFnyUMoN2NBiFgNY3AVWcwiDHAsdINA7CDOvEXL/30C+4sExKnEW7B3SxCV/sQnnlRPMy4FdxA96PRYPg7eb3AAAAAElFTkSuQmCC)}
.wifi {display:inline-block;width:16px;height:16px;background-size:16px;background-position:center center;background-repeat:no-repeat;vertical-align:middle;margin-right:3px;}


